blis==0.7.9
catalogue==2.0.8
confection==0.0.4
cymem==2.0.7
filelock==3.11.0
langcodes==3.3.0
markupsafe==2.1.2
mmdet==2.25.3
murmurhash==1.0.9
pathy==0.10.1
preshed==3.0.8
pycocotools==2.0.6
gradio==3.35.2
seaborn==0.11.0
smart-open==6.3.0
spacy==3.5.1
spacy-legacy==3.0.12
spacy-loggers==1.0.4
srsly==2.4.6
terminaltables==3.1.10
thinc==8.1.9
tokenizers==0.13.3
transformers==4.27.4
typer==0.7.0
wasabi==1.1.1
mmsegmentation==0.26.0