beautifulsoup4
dash
dash-core-components
dash-html-components
dash-table
fastjsonschema
fvcore
filelock==3.14.0
ipywidgets
joblib
jsonschema
jsonschema-specifications
jupyter_core
jupyterlab-widgets
mmcv
open3d==0.16.0
packaging
trimesh==3.23.5
wandb==0.17.8


